body{
    font-family: 'Kanit', 'Arial',sans-serif;
    animation-name: example;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
.font{
    margin-left: 15%;
    font-size: 16pt;
}
.pic{
    max-width: 250px;
    max-height: 250px;
    margin: 1% 10% auto 25%;
    border: 5px solid white;
    border-radius: 50%;
    float: left;
}

h1{
    text-align: center; 
    margin-top: 1px;
    font
}
hr{
    background-color:red;
    height: 3px;
}
@keyframes example
{
    /* 0% {background-color: rgb(25, 25, 216);
        color: black;}
    25% {background-color: rgb(72, 72, 211);
        color: black;}
    50% {background-color: rgb(103, 103, 207);
        color: black;}
    75% {background-color: rgb(72, 72, 211);
        color: black;}
    100% {background-color: rgb(25, 25, 216);
        color: black;} */
}
.btt{
    text-align: center;
}
.tel{
    width: 20px;
    height: 20px;
}
.book{
    width: 25px;
    height: 25px;
    margin-right: 1%;
}
.image{
    width: 40px;
    height: 40px;
}
.font{
    padding-left: 5%;
    padding-right: 5%;
}